<div class="row">
    <aside class="col-md-3">
        <h2>Coming Soon</h2>
    </aside>
    <section class="main col-md-9">
        <article>
            <h2>About</h2>
            <p> Hello, my name is Sage, i am 23 years old.
            </p>
        </article>
    </section>
</div>
