<div class="container" style="padding-top: 90px;">
  <div class="row">
    <aside class="col-md-3">
      <h2>About</h2>
      <p>My name is Sage Satsavia, 23 years old.</p>
    </aside>
    <section class="main col-md-9">
      <article>
        <h2>Coming Soon</h2>
        <p>
          Hello hi how are you
        </p>
      </article>
    </section>
  </div>
</div>