<!-- views/categories.hbs -->
<h2>Categories <a href="/categories/add" class="btn btn-success pull-right">Add Category</a></h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th></th> <!-- Empty header for the remove button column -->
        </tr>
    </thead>
    <tbody>
        {{#if categories}}
            {{#each categories}}
                <tr>
                    <td>{{this.category}}</td>
                    <td>
                        <a href="/categories/delete/{{this.id}}" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="2" class="text-center">No Categories</td>
            </tr>
        {{/if}}
    </tbody>
</table>